.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
  
  .not-found h1 {
    font-size: 15rem;
    color: #ff6b6b;
  }
  
  .not-found p {
    font-size: 2.5rem;
    margin-bottom: 90px;
  }
  
  .back-home { /* Lowkey gotta refactor the buttons so I won't need all this css in the future */
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
  }